{
    "SERVER_PORT": 3000,
    "DATABASE": {
        "SCHEMA": "devires_test",
        "HOST": "localhost",
        "PASSWORD": "root",
        "USER": "root",
        "DIALECT": "mysql"
    },
    "JWT_SECRET": "QPOVwbVkBri8SMbYMcHv7fHIOARoENA36tZBv9KGcLQ8FIJYKSxkSIMbkcfR10dkQPOVwbVkBri8SMbYMcHv7fHIOARoENA36tZBv9KGcLQ8FIJYKSxkSIMbkcfR10dk"
}