{
    "SERVER_PORT": 3000,
    "DATABASE": {
        "SCHEMA": "devires_test",
        "HOST": "localhost",
        "PASSWORD": "root",
        "USER": "root",
        "DIALECT": "mysql"
    },
    "JWT_SECRET": "QPOVwbVkBri8SMbYMcHv7fHIOARoENA36tZBv9KGcLQ8FIJYKSxkSIMbkcfR10dkQPOVwbVkBri8SMbYMcHv7fHIOARoENA36tZBv9KGcLQ8FIJYKSxkSIMbkcfR10dk",
    "CRYPTO_SECRET": "PsdUI3bE47TbeEddZWaJ7KfOXK6MqJ43XvCeTOz3Dql3Dqle543sSuZXvijOAm2LWSVIJYKSxkSIM8bkcxLDz9Ewy6VkohRAM9Y3rmc5yyuc4ehXSJD2mJJePSDCcash"
}